.footer {
    display: flex;
    padding: 10px;
    justify-content: center;
    background-color: #3498db;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;  
    border-top-right-radius: 10px; 

}
.footer-text {
    font-size: 16px;
    align-self: center;
    margin-right: 20px;
}
.footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer img {
    margin-left: 0.25vw;
    margin-right: 0.25vw;
}
