/* Contenedor principal con tamaño fijo */
.courses-container {
    max-width: 1200px; /* Ajusta el ancho según tus necesidades */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    margin-top: 10vh;
    
}

/* Contenedor de cursos */
.courses-online {
    text-align: center; /* Centra el texto del encabezado */
    background-color: #EAD4BF;
}

/* Estilos de la grilla */
.courses-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    gap: 20px; /* Espacio entre los items de la grilla */
}

/* Estilos para cada curso */
.course-item {
    border: 1px solid #A47B5E; /* Borde del curso */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra sutil */
    padding: 20px; /* Espaciado interno */
    height: 32vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    background-color: #f5dfb0;
}

/* Contenedor del botón de WhatsApp dentro del curso */
.course-item .button-container {
    width: 100%; /* Asegura que el contenedor del botón ocupe el ancho completo */
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    margin-top: auto; /* Empuja el botón hacia el fondo del item */
}

/* Estilos para el botón de WhatsApp */
.whatsapp-button {
    background-color: #25d366; /* Color de WhatsApp */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.whatsapp-button:hover {
    background-color: #128c7e; /* Color de WhatsApp en hover */
}
